html {
  font-size: 100%;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
}

:hover {
  cursor: default;
}

body {
  background-color: #121212;
  margin: 0;
  padding: 0;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.videoContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.videoContainerVideo {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 45%;
  z-index: -1;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.banner {
  width: 48.75rem;
  max-width: calc(100% - 100px);
  height: 12.5rem;
  margin-top: 5rem;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bannerImage {
  width: 100%;
  height: 100%;
  position: absolute;
}

.bannerImageCenter {
  width: 9.375rem;
  border-radius: 50%;
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav {
  width: 9.375rem;
  height: 1.875rem;
  margin-top: 1.5625rem;
}

.navIcons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 4.0625rem;
}

.navIcon {
  opacity: 87%;
  margin: 0;
}

.navIcon img {
  width: 1.5625rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5 ease;
  -ms-transition: all 0.5 ease;
}

.navIcon img:hover {
  opacity: 48.5%;
}

main {
  margin-bottom: 2.1875rem;
}

.urlTabs {
  margin-top: 6.25rem;
  padding: 0;
  gap: 2.1875rem;
}

.urlTab {
  opacity: 87%;
  font-size: 1.25rem;
  text-align: center;
}

.urlTab:hover {
  -webkit-animation-name: urlTab;
  animation-name: urlTab;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#gallery {
  margin-top: 4.6875rem;
}

#gallery p {
  font-size: 1.25rem;
  font-style: italic;
  opacity: 87%;
  margin-bottom: 1.5625rem;
  text-align: center;
}

#songsContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}

footer {
  opacity: 67%;
  margin-left: 0.9375rem;
  margin-bottom: 0.9375rem;
  margin-top: auto;
}

#aboutMe {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6.25rem;
}

#aboutMeText {
  opacity: 87%;
  text-align: justify;
  width: 45%;
  font-size: 1.25rem;
}

@-webkit-keyframes urlTab {
  from {
    background-color: rgba(255, 255, 255, 0.77);
  }
  to {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes urlTab {
  from {
    background-color: rgba(255, 255, 255, 0.77);
  }
  to {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@media only screen and (max-width: 1024px) {
  #songsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .songs {
    width: 100%;
  }
}

@media only screen and (max-width: 868px) {
  .banner {
    width: Max(525px, calc(100% - 100px));
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    width: 100%;
  }
  #aboutMeText {
    width: 65%;
  }
}

@media only screen and (max-width: 525px) {
  .banner {
    width: 100%;
  }
  #aboutMeText {
    width: 75%;
  }
}

@media only screen and (max-width: 425px) {
  .banner {
    width: 100%;
  }
  #aboutMeText {
    width: 85%;
  }
}
